#campaign-show-creatures {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#creature-details {
	max-width: 50vw;
	h3 {
		background-color: #003a26;
		color: #ead191;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		margin-bottom: 4px;
	}
	h4, p {
		margin: 1px auto;
		padding: 0 4px;
	}
	.creature-header {
		font-size: 12px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

#campaign-show-encounters {
	display: grid;
	grid-template-columns: 2fr 8fr 3fr;
}

.block-list-btn {
	border-radius: 4px;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin-top: 3px;
	&:hover {
		background-color: #7DF9FF;
	}
}

#campaign-new-encounter {
	background: lightgrey;
	margin: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: 10fr 5fr 1fr;
	grid-template-areas:
		"name name close"
		"notes creatures creatures";
	label {
		margin: 3px;
	}
}

#campaign-show-encounter {
	background: lightgrey;
	margin: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
		"name name buttons"
		"creatures details details";
}
