#campaign-show-creatures {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#creature-details {
	max-width: 50vw;
	h3 {
		background-color: #003a26;
		color: #ead191;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		margin-bottom: 4px;
	}
	h4, p {
		margin: 1px auto;
		padding: 0 4px;
	}
	.creature-header {
		font-size: 12px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}
