.character {
  margin: 10px 8em;
}

.ability {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: .5em;
}

.features-traits {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 9;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
  overflow: auto;
  max-height: 23.75em;
  position: relative;
}

.hp {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 2em;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1.5em;
}


#saves {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
}

#attack-bonus {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
}

#ac {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
}

#details {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
  margin: .5em;
  padding: .6em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
  overflow: auto;
  max-height: 100%;
  position: relative;
}

#skills {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 10;
  margin: .5em;
  padding: .6em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
  overflow: auto;
  max-height: 100%;
  position: relative;
}

.egg {
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #190B28;
  border-radius: 2.2em;
  margin: .15em;
}

.shadow {
  box-shadow: 5px 4px 2px #000;
}

#spin {
  -webkit-animation: fa-spin 12s infinite ease-in;
  animation: fa-spin 12s infinite ease-in;
}

#spin:hover {
  -webkit-animation-name: fa-spin;
  animation-name: fa-spin;
  -webkit-animation-duration: .1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 5;
  animation-duration: .1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 5;
  /* -webkit-animation-name: spin-back;
  -webkit-animation-duration : 2s;
  animation-name: spin-back;
  animation-duration: 2s; */
}


@-webkit-keyframes spin-back {
  0% {color: red;};
  70% {color: green;}
}

@keyframes spin-back {
  0% {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
  }
  70% {
  }
}
