.narrow {
  max-width: 3em;
}

.taller {
  min-height: 3em;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
}

.red:hover {
  background-color: red;
  color: white;
}

.blue {
  color: blue;
}

.blue:hover {
  background-color: blue;
  color: white;
}

.green {
  color: green;
}

.green:hover {
  background-color: green;
  color: white;
}

.hp-btn {
  background-color: transparent;
  border-radius: 6px;
  min-width: 2em;
  max-height: 1.2em;
  text-align: center;
}

.actions {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 9;
  margin: .5em;
  padding: .2em;
  background-color: rgba(235, 235, 235, 0.95);
  border: solid;
  border-color: #000;
  border-radius: 1em;
  overflow: auto;
  max-height: 23.75em;
  position: relative;
}
