#new-campaign-form {
  margin: 1%;
  display: grid;
  grid-template-columns: auto 15% auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "setting calendar races classes"
    ". . races classes"
    "submit submit submit submit";
  grid-column-gap: 1.5%;
  grid-row-gap: 2%;
}

@media screen and (max-width: 600px) {
  #new-campaign-form {
    margin: 1%;
    display: block;
    text-align: center;
    section {
      select {
        border: 2px inset #bbb;
        border-radius: 1em;
        background-color: #fff;
        padding-left: 0.5em;
      }
    }
    .form-races-checkbox-options {
      text-align: left;
    }
    #new-campaign-form-submit {
      position: fixed;
      bottom: 5px;
      width: 98%;
      border: 2px inset #bbb;
      border-radius: 1em;
      background-color: #fff;
      margin: 0%;
      box-shadow: 3px 2px 2px maroon;
    }
  }
}

#new-campaign-form-setting {
  grid-area: setting;
  margin: 1%;
}

#new-campaign-form-submit {
  grid-area: submit;
  margin: 1%;
}

#new-campaign-form-races {
  grid-area: races;
  margin: 1%;
}

#new-campaign-form-all-races h4 {
  margin-bottom: 1%;
}

#new-campaign-form-all-races section {
  margin: 1%;
}

#new-campaign-form-classes {
  grid-area: classes;
  margin: 1%;
}

#new-campaign-form-all-classes h4 {
  margin-bottom: 1%;
}

#new-campaign-form-all-classes section {
  margin: 1%;
}

.form-races-checkbox-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#new-campaign-form-calendar {
  grid-area: calendar;
  margin: 1%;
}

#new-campaign-form-calendar h4 {
  margin: 1%;
}

#new-campaign-form-calendar ol {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 1.5rem;
}
